html {
    color-scheme: light dark;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding: 5%;
    height: 50vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#passwordDiv{
    text-align: center;
}

#copyNotification {
    display: none;
    background-color: purple;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    top: 25%;
}


button{
    background-color: purple;
    font-size: .6rem;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover{
    background-color: rgb(86, 0, 86);
}

#copyButton {
    display: none;
}